<% content_for :next_url, flush: true do %>
  <%= full_factor_rating_path(@program, @phase, @section, current_user, true)%>
<% end %>

<ol>
  <div class="group custom-cheetah-factors">
    <% current_user.custom_cheetah_factors.rank(:row_order).each do |factor| %>
      <li>
        <%= text_field_tag :factor, factor.custom_name, "data-cheetah-factor-id" => factor.id %>
      </li>
    <% end %>
  </div>
</ol>
