<% option_groups(question).each_with_index do |options, index| %>
  <ul class="options multi-checkbox-options <%= "hidden" if index > 0 %>">
    <% if options.length > 4 %>
      <% options.each_slice(4) do |sub_group| %>
        <div class="column">
          <% sub_group.each do |option| %>
            <%= render partial: "checkbox_option", locals: {option: option} %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <% options.each do |option| %>
        <%= render partial: "checkbox_option", locals: {option: option} %>
      <% end %>
    <% end %>
  </ul>
<% end %>
