<ol>
  <% question.response_options.each_slice(4) do |options| %>
    <div class="group">
      <% options.each do |option| %>
        <li>
          <%= option_text_field(option) %>
        </li>
      <% end %>
    </div>
  <% end %>
</ol>
