<% content_for :previous_url do %>
  <%= program_phase_section_section_step_path(@program,
                                            @phase,
                                            @section,
                                            @section.section_steps.last) %>
<% end %>
<% content_for :next_url do %>
  <%= program_phase_section_path(@program, @phase, @section.next_section) %>
<% end %>

<div class="current-step section">
  <div class="heading">
    <h1>Career Suggestions For <%= current_user.name %></h1>
  </div>

  <div class="career-result">
    <ol>
      <% @careers.first(24).each_slice(12) do |careers_group|  %>
        <div class="career-group">
          <% careers_group.each do |user_career| %>
            <% career = Career.find(user_career.career_id)   %>
            <li>
              <%= career.title %>
            </li>
          <% end %>
        </div>
      <% end %>
    </ol>
  </div>

</div>
