<div class="current-step from-your-hunt" data-section-code="<%=@section.code unless Rails.env == 'development'%>">
  <div class="heading">
    <h1>FROM YOUR HUNT</h1>
    <h2>Your Captured Careers</h2>
  </div>
  <div class="description">
    <p>Congratulations on a successful hunt!
    Now that you've captured information about each career it's time to use it to determine which of the careers that interest you, personally fits you best.</p>
  </div>

</div>
