<div class="current-step from-your-hunt" data-section-code="<%=@section.code unless Rails.env == 'development'%>">
  <div class="heading">
    <h1>CAPTURED FROM YOUR HUNT</h1>
  </div>
  <div class="description">
    <p>Congratulations on a successful hunt!
    Now that you've captured information about each career it's time to identify and measure your best career fit.</p>
  </div>

</div>
