<div class="current-step hunting-solo1">
  <header>
    <span class="sectionTitle">HUNTING SOLO</span><br /> 
    <p>Many people don’t like staring at a blank piece of paper when they’re thinking of career fit. That’s why we have been running your factors and put together some careers that might be a good place to start.</p>
    <p>Remember, this comes from data, so they won’t be as personalized as some of the careers you will gain from research, but are a good place to start daydreaming. They are meant to be illustrative, not exhaustive.</p>
    <p>Read through the titles. Do you see anything that catches your eye? Discard the ones you don’t like. But, if you are drawn to some, pay attention to your instincts and find out more!</p>

  </header>
</div>