<div class="current-step hunting-solo2">
  <header>
    <span class="sectionTitle">A NOTE ABOUT YOUR GUT:
</span><br /> 
    <p>You can find out as much from careers that you DON'T like as those you do. So, before you dismiss a career, do a quick web search on it 
and jot down why you don't like it. Then, you can use this information to inform your hunt for other careers. We don't mind if you don't like a career choice, but don't pass up the valuable chance to find out more about your own preferences in finding out why that is the case.</p>
    <p>Be a keen hunter. Use your instincts coupled with research. Now, some suggestions for your hunt:</p>
  </header>
</div>