<div class="current-step hunting-solo1">
  <header>
    <span class="sectionTitle">A NOTE ABOUT YOUR GUT:
</span><br /> 
    <p>Research is a hunter's best friend. Though we encourage people to "react" about different careers, it's important that you don't outright dismiss choices given to you without finding out more about them. </p>
    <p>Many people dismiss careers based on the name, the fact that they know someone who doesn't like that job, or even one class they took at school. The truth is that isn't fair to you OR the career.</p>
  </header>
</div>