<!--This would render for StaticSteps with the template attribute set to "mood_iceberg" -->
MoodIceberg
<div class="current-step section">
  <div class="heading">
    <h1>Congratulations!  You have called the Mood Iceberg Slide</h1>
    <h2>You have completed the <%= @section.name %> portion of the hunt.</h2>
  </div>
</div>

<div class="current-step response-distribution">
 <div class="mood-iceberg">
 <%= image_tag "mood-iceberg.png" %>
</div>
