<div class="current-step question response-selection-step">
  <% @percent_complete = 99 %>

  <div class="heading">
      <h1><%= @section_step.headline %></h1>
  </div>
  <div class = "question"
    <p class="prompt"><%= @section_step.description %></p>
  </div>
  <div class="borderWrap" style="overflow: scroll;">
    <ul class="options multi-checkbox-options"> 

     <!-- show negative mood selections -->
      <% if @section_step.section.slug == "moods" %>
        <% options = negative_moods_selected %>
      <% elsif @section_step.section.slug == "values" %>
         <% options = values_selected %>
      <% elsif @section_step.section.slug == "obstacles" %>
         <% options = obstacles_selected %>
      <% end %>

      <% options.each do |option| %>
        <li class="option">
          <%= check_box_tag "response-option-selections[]", response_cache(option.question).response_for(option), ResponseOptionSelection.find(response_cache(option.question).response_for(option)).selected %>
          <%= label_tag(option.description) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>