<div class="current-step response-selection-summary-step">
  <% @percent_complete = 99 %>

  <div class="heading">
      <h1><%= @section_step.headline %></h1>
  </div>
  <div class = "question"
  <p class="prompt"><%= @section_step.description %></p>
</div>
  <div class="borderWrap" style="overflow: scroll;">
    <ol class="options"

     <!-- show negative mood selections -->
      <% if @section_step.section.slug == "moods" %>
        <% option_selections = negative_moods_selections_selected %>
      <% elsif @section_step.section.slug == "values" %>
         <% option_selections = value_selections_selected %>
      <% end %>

      <% option_selections.each do |option_selection| %>
        <li class="option">
              <%= option_selection.response_option.description %>
        </li>
      <% end %>
    </ol>
  </div>
</div>