<% content_for :next_url do %>
  <%= @next %>
<% end %>

<% content_for :previous_url do %>
  <%= @previous %>
<% end %>


<div class="current-step phase">
  <div class="heading">
    <h1><%= @user_career.name %><//h1>
  </div>
</div>
