<% content_for :previous_url do %>
  <%= previous_program_navigation_path({:section_conclusion_id => @section.to_param}) %>
<% end %>
<% content_for :next_url do %>
  <%= next_program_navigation_path({:section_conclusion_id => @section.to_param, :completion_code => "abc"}) %>
<% end %>

<div class="current-step section">
  <div class="heading">
    <h1>Congratulations!</h1>
    <h2>You have completed the <%= @section.name %> portion of the hunt.</h2>
  </div>
</div>
