.login-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 550px;
  position: relative;
}

.login {
}

.login-header {
  text-align: center;
}

.login-header img:hover {
  cursor: pointer;
}

.login-form {
  display: none;
  position: absolute;
  left: 0%;
  top: 30%;
  background-color: white;
  border: solid 1px #333333;
  text-align: center;
  width: 100%;

  padding-top: 30px;
  padding-bottom: 30px;
}

.login-form input {
  font-size: 1.2em;
}
