.header {
  margin-bottom: 2em;
  text-align: center;
}

.current-step-wrapper .current-step {
  width: 90%;
  float: left;
}

.current-step-wrapper .left-nav {
  width: 5%;
  float: left;
}

.current-step-wrapper .right-nav {
  width: 5%;
  float: left;
}

.progress {
  padding: .5%;
  border: solid 2px rgb(166,166,166);
}

.progress .bar {
  background-color: rgb(238, 129, 62);
  width: 77%;
  height: 20px;
}

.current-step h1 {
  color: rgb(238, 129, 62);
}

/* Section Styling */
.current-step.phase {
  text-align: center;
}

/* Section Styling */
.current-step.section {
  text-align: center;
}

.current-step.section .intro {
  margin-bottom: 2em;
}

/* Question Styling */
.current-step .question {
  margin-left: 3%;
}

.question .options {
  list-style-type: none;
  padding: 0;
}

.question .options li {
  padding: .5em;
}

