.header {
  margin-bottom: 2em;
  text-align: center;
}


.current-question-wrapper .question {
  width: 90%;
  float: left;
}

.current-question-wrapper .left-nav {
  width: 5%;
  float: left;
}

.current-question-wrapper .right-nav {
  width: 5%;
  float: left;
}

.question .section {
  color: rgb(238, 129, 62);
}

.question .question-body {
  margin-left: 3%;
}

.question .options {
  list-style-type: none;
  padding: 0;
}

.question .options li {
  padding: .5em;
}

.progress {
  padding: .5%;
  border: solid 2px rgb(166,166,166);
}

.progress .bar {
  background-color: rgb(238, 129, 62);
  width: 77%;
  height: 20px;
}
