.header {
  margin-bottom: 2em;
  text-align: center;
}


.section {
  width: 90%;
  float: left;
}

.section-header {
  color: rgb(238, 129, 62);
}

.nav-back {
  width: 5%;
  float: left;
}

.question {
  margin-left: 3%;
}

.nav-forward {
  width: 5%;
  float: left;
}

.question-options {
  list-style-type: none;
  padding: 0;
}

.question-options li {
  padding: .5em;
}
